<div class="fixed-bottom">
  <footer class="py-4 bg-dark text-white-50">
    <div class="container text-center">
      <small>Copyright <%= Date.today.strftime('%Y') %> &copy; Make My Day</small>
    </div>
  </footer>
</div>


<!--<nav class="navbar fixed-bottom navbar-light bg-light">-->
<!--  <a class="navbar-brand" href="#">Fixed bottom</a>-->
<!--</nav>-->

<!--<nav class="navbar sticky-bottom navbar-light bg-light">-->
<!--  <div class="container text-center">-->
<!--    <small>Copyright <%#= Date.today.strftime('%Y') %> &copy; Make My Day</small>-->
<!--  </div>-->
<!--</nav>-->

<!--<footer class="d-flex justify-content-between align-items-center footer">-->
<!--  <div>-->
<!--    <p>©2020</p>-->
<!--    <p>ООО “8228-Блог”</p>-->
<!--  </div>-->
<!--  <a href="#">Политика конфиденциальности</a>-->
<!--  <a href="/agreement">Пользовательское соглашение</a>-->
<!--  <a href="#">Реквизиты</a>-->
<!--  <div class="text-right">-->
<!--    <p>Сделано в</p>-->
<!--    <p><strong>Компании мечты</strong></p>-->
<!--  </div>-->

<!--</footer>-->